* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    padding: 50px 20px;
    border: 1px solid #BCAAAA;
    box-shadow: 0px 4px 8.7px 0px #00000040;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #BCAAAA;
}

.textt{
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #EF400F;
}


.button {
    border: 3px solid rgb(239, 64, 15);
    border-radius: 20px;
    background: rgba(217, 217, 217, 0);
    width: 219px;
    height: 63px;
    color: rgb(239, 64, 15);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}
.section {
    margin: 60px 20px;
}

.ota {
    display: flex;
    align-items: center;
    gap: 120px;
}

.magazin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.magazin h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48.41px;
    letter-spacing: 0%;
    color: #0D0C5C;
}

.inn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input {
    width: 386px;
    height: 63px;
    border-radius: 20px;
    background: #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: #FFFFFFB8;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 260px;
    padding-left: 20px;
}

.input__btn {
    width: 116px;
    height: 63px;
    border-radius: 20px;
    background: #0D0D5B;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: white;
    text-align: center;
}

.tarix {
    display: flex;
    align-items: center;
    gap: 17px;
}

.tarix h3 {
    width: 209;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.73px;
    letter-spacing: 0%;
    color: #EF400F;
}
.bola{
    width: 290px;
height: 290px;
border-radius: 30px;

box-shadow: 0px 4px 13.3px 0px rgba(0, 0, 0, 0.25);
background: rgb(255, 255, 255);
margin-top: 121px;
}
.ota1{
    display: flex;
    justify-content: space-between;
}
.ph1{
    padding-top: 44px;
}
.ppppp{
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 18px;
text-align: center;
}
.ph2{
padding-left: 84px;
}
.ppp1{
    color: rgba(0, 0, 0, 0.67);
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
text-align: center;
}
.kak{
    color: rgba(0, 0, 0, 0.75);
font-family: Inter;
font-size: 13px;
font-weight: 300;
line-height: 16px;
text-align: center;
}